.Landscape__Container {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  position: relative;
  cursor: pointer;

  .Landscape__Container__Circle {
    position: absolute;
    width: 20vh;
    height: 20vh;
    right: 30px;
    top: 20px;
    border-radius: 100px;
  }
}

.Landscape__Container--Day {
  background-color: rgb(54, 141, 255);

  .Landscape__Container__Circle {
    background-color: yellow;
  }
}

.Landscape__Container--Night {
  background-color: rgb(60, 60, 60);

  .Landscape__Container__Circle {
    background-color: white;
  }
}